 /* Make the table font smaller and reduce padding */
 .table td {
    font-size: 14px; /* Smaller font size */
    padding: 6px 10px; /* Reduce cell padding */
    vertical-align: middle; /* Center align vertically */
    white-space: normal; /* Prevent text wrapping */
    text-align: left;
}
.table th{
    font-size: 15px; /* Smaller font size */
    padding: 13px 10px; /* Reduce cell padding */
    text-align: start;
    white-space: nowrap; /* Prevent text wrapping */
    font-family: fangsong;
    background-color: darkgray !important;
}
/* Adjust the header text size and alignment */
h1 {
        font-family: fangsong;
        font-weight: bold;    
}

/* Make sure table fits within container */
.table-responsive {
    max-width: 100%; /* Ensure it doesn’t overflow */
    overflow-x: auto; /* Enable horizontal scroll if needed */
}
.row{
    margin-right: -105px;
    margin-left: -103px;
    margin-bottom: 50px;
}
@media (max-width: 768px) {
    .row{
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 50px;
    }
}
.navbar{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: sticky;
}

/* Back to Top Button */
#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Keep on top of other content */
    font-size: 13px;
    background-color: #333; /* Dark background */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#backToTopBtn:hover {
    background-color: #555; /* Darker on hover */
}

/* Hide Back to Top button on small screens */
@media (max-width: 768px) {
    #backToTopBtn {
        display: none !important;
    }
}