/* Filter Grid */
.filter-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));  */
    gap: 5px;
    padding: 0px;
    white-space: normal;
    max-height: calc(2 * 70px + 10px); 
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr)); 
    grid-auto-rows: min-content; 
    grid-template-rows: repeat(2, 1fr); 
    
}

.filter-grid button {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    background-color: #f8f9fa;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    height: auto; 
}

.filter-grid button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.filter-grid::-webkit-scrollbar {
    display: none;
}

/* Scroll Button Styling */
.scroll-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-btn {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.678);
    border: 2px solid #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    font-size: 25px;
    
}

.scroll-btn:hover {
    background-color: #26282b70;
    color: #ffffff;
}



/* Table Styling */

table {
    border-collapse: collapse !important;
    width: 100%;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  tbody{
    padding: 15px;
}  
.table-responsive {
    display: block;
    width: 110% !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: -52px ;
    table-layout: auto;
}
th {
    border-bottom-width: 2px;
    font-family: math;
}
.table th{
   
    text-align: start;
    white-space: nowrap; /* Prevent text wrapping */
    font-family: fangsong;
    background-color: darkgray !important;
}

/* Hide scrollbar */
/* .filter-grid::-webkit-scrollbar {
    display: none;
} */

.filter-btn{
    height: 73px;
}

.navbar{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: sticky;
}

@media (max-width: 768px) {
    .table-responsive {
        display: block;
        width: 100% !important;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin-left: 0px !important;
    }
}

/* Back to Top Button */
#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Keep on top of other content */
    font-size: 13px;
    background-color: #333; /* Dark background */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#backToTopBtn:hover {
    background-color: #555; /* Darker on hover */
}

/* Hide Back to Top button on small screens */
@media (max-width: 768px) {
    #backToTopBtn {
        display: none !important;
    }
}

.navbar .form-inline {
    margin-left: auto; /* Pushes the search bar to the right */
}
