.header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;
        background-color: #f8f9fa;
        border-bottom: 1px solid #ddd;
        margin-top: -49px !important;
        margin-left: -63px !important;
        margin-right: -63px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 50px; 
    height: 50px;
    margin-right: 10px; 
  }
  
  .company-name h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #000; 
  }
  
  .company-name p {
    font-size: 14px;
    margin: 0;
    color: #666; 
  }
  
  .navbar{
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) ; */
    /* z-index: 100; */
    position: sticky;
    height: auto;
}

@media  (max-width: 768px) {
  .btn.btn-link.toggleBtn {
    display: none;
  }
}

.dropdown-menu-end[data-bs-popper] {
  right: 16px;
  left: auto;
}
.main-container{
  z-index: 99 !important;
  position: absolute !important;
  background: #ffffff !important;
  width: -webkit-fill-available;

}
